<div class="container">
  <div class="row justify-content-center margin-div">
  <div class="table-wrapper-scroll-y my-custom-scrollbar">
    <div>
      <h3 class="h3-title">LINHAS DE LOTAÇÃO</h3>
    </div>
    <div class="row justify-content-center" *ngIf="loader_spinner">
      <div class="spinner-border text-success" role="status">
        <span class="sr-only"></span>
      </div>
    </div>
    <table class="table" *ngIf="!loader_spinner">
      <thead class="align-middle">
        <tr>
          <th scope="col" class="display">ID</th>
          <th scope="col">CODIGO</th>
          <th scope="col col-styling">NOME
            <input type="search" placeholder="Buscar linha" aria-label="Search" aria-describedby="search-addon"
              [(ngModel)]="pesquisaLinha" />
            <span class="icon">
              <fa-icon [icon]="faSearch"></fa-icon>
            </span>
          </th>
          <th> </th>
        </tr>
      </thead>
      <tbody class="align-middle">
        <tr *ngFor="let linha of linhas | filter:pesquisaLinha">
          <th scope="row" class="display">{{ linha.id }}</th>
          <td scope="row">{{ linha.codigo }}</td>
          <td scope="row">{{ linha.nome }}
          </td>
          <td scope="col">
            <button type="button" class="btn btn-success" (click)="redirecionaItinerario(linha.id)">Ver itinerario
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>