.h3-title{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.icon{
    margin-left: 7px;
}
.my-custom-scrollbar {
    margin-top: 30px;
    position: relative;
    height: 620px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
    width: 85%;
    margin-bottom: 3px;
}


.container{
    align-items: center;
    justify-content: center;
}

td th{
    text-align: center;
    position: relative;
}

.margin-div{
    margin-top: 80px;
}

@media(max-width:770px){
    .margin-div{
        margin-top: 0px;
    }
    .table-wrapper-scroll-y {
        display: block;
        width: 100%;
        margin-bottom: 3px;
    }
    .display{
        display: none;
    }
}
