a{
    color: white;
    margin-left: 5px;
}

.h3-title{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.icon{
    margin-left: 7px;
}

.my-custom-scrollbar {
    margin-top: 30px;
    height: 630px;
    overflow: auto;
    width: 50%;
}

.table-wrapper-scroll-y {
    display: block;
    width: 85%;
    margin-bottom: 3px;
}
.container{
    align-items: center;
    justify-content: center;

}

.td-button{
    padding-left: 55px;

}
.align{
    text-align: right;
}
.margin-div{
    margin-top: 80px;
}

@media(max-width:770px){
    .margin-div{
        margin-top: 0px;
    }
    .table-wrapper-scroll-y {
        display: block;
        width: 100%;
        margin-bottom: 3px;
    }
}