<div class="container">
  <div class="row justify-content-center text-right margin-div">
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
      <div>
        <h3 class="h3-title">ITINERARIO</h3>
      </div>
      <div class="row justify-content-center" *ngIf="loader_spinner">
        <div class="spinner-border text-success" role="status">
          <span class="sr-only"></span>
        </div>
      </div>
      <table class="table" *ngIf="!loader_spinner">
        <thead class="align-middle">
          <tr>
            <th scope="col">{{itinerario.idlinha}}</th>
            <th scope="col"></th>
            <th scope="col">{{itinerario.nome}}</th>
          </tr>
        </thead>
        <tbody class="align-middle">
          <tr *ngFor="let linha of itinerario.rota; let i=index">
            <td scope="row">Localidade {{i+1}}</td>
            <td></td>
            <td scope="row" class="align">
              <a class="link-name" href="https://www.google.com/maps/?q={{linha.lat}},{{linha.lng}}" target="_blank">
                <button type="button" class="btn btn-success"> Ver no Google Maps
                  <fa-icon [icon]="faMapMarkedAlt"></fa-icon>
                </button>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>