<ul class="nav nav-bar-color" >
    <li class="nav-item">
      <a class="nav-link active nav-link-color" href="/linhas-onibus">Linhas de Onibus</a>
    </li>
    <li class="nav-item">
      <a class="nav-link nav-link-color" href="/linhas-lotacao">Linhas de Lotação</a>
    </li>
</ul>