.nav-bar-color{
    background-color: #09B867;
}



a{
    color: white;
}

@media(max-width:770px){
    .nav-bar-color{
        background-color: #09B867;
        justify-content: space-between;
    }
    
}